* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-main: "Noto Sans", sans-serif;
  --bg-main: #131417;
  --bg-card: #1e1f26;
  --bg-stats: #131417;
  --username: #b7bbc8;
}

html,
body {
  color: white;
  background-color: var(--bg-main);
  font-family: var(--font-main);
}

.card,
img {
  border-radius: 10px;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

ul li {
  list-style-type: none;
}

.wrapper {
  padding: 2em;
}

.card {
  max-width: 300px;
  background-color: var(--bg-card);
  margin: auto;
  padding: 1em;
}

.card-body {
  display: flex;
  gap: 1em;
}

.card-avatar img {
  width: 50px;
  height: 50px;
}

.card-details {
  line-height: 1.5;
}

.card-details h3 {
  font-weight: 900;
  font-size: 1rem;
}

.card-details p {
  font-size: 0.85rem;
  color: var(--username);
}

.card-stats {
  display: none;
}

.card-stats li {
  background-color: var(--bg-stats);
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  border-radius: 5px;
}

.card:hover .card-stats {
  display: flex;
}
